<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1082496975976-fu9mj117l4otoimj7erb9d9e570djhpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082496975976-fu9mj117l4otoimj7erb9d9e570djhpp</string>
	<key>API_KEY</key>
	<string>AIzaSyADKrDz_S_GrAs9wYE2SD_ZNTYbWf5kf84</string>
	<key>GCM_SENDER_ID</key>
	<string>1082496975976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herman.VolunteerConnect.Volunteer</string>
	<key>PROJECT_ID</key>
	<string>voluneer-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>voluneer-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082496975976:ios:7118e21f0a43b2f1</string>
	<key>DATABASE_URL</key>
	<string>https://voluneer-connect.firebaseio.com</string>
</dict>
</plist>